@import '../variables';

.dashboard {
    min-height: calc(100vh - 15.1875rem);

    @media screen and (min-width: 992px) {
        min-height: calc(100vh - 16rem);
    }

    &__user-avatar {
       position: relative;
    }

    &__user-icon {
        position: absolute;
    }

    &__button {
        text-align: left;
        color: $color-primary;
        text-decoration: none;
        width: 100%;
        &:hover, &--active {
            background-color: $color-primary;
            color: #fff;
            text-decoration: none;
        }
    }

    &__tabs {
        a.nav-item.nav-link {
            color: $color-primary;
            &.active {
                color: $color-muted;
                font-weight: 700;
            }
        }
    }
}

a{
    color: #fff;
    text-decoration: none;

    &:hover {
        color: #fff;
    }
}

.text-highlight-red {
    color: red;
}

.text-highlight-green {
    color: lime;
}
