@import '../variables';

.institutional-background {
    background-image: url(../assets/institutional.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
