@import '../variables';

.navbar {
    background-color: $color-primary;
    border-bottom: 0.25rem solid $color-secondary;

    & .nav__margin {
        margin-left: auto;
    }

    &__search-group {
        width: 28rem;
      }
}

